<mat-dialog-content class="mat-typography">
  <form [formGroup]="Form" >
    
    <!-- name field -->
    <mat-form-field appearance="outline" >
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
  
    <!-- displayName field -->
    <mat-form-field appearance="outline" >
      <mat-label>Display name</mat-label>
      <input matInput formControlName="displayName" required>
    </mat-form-field>
  
    <!-- recommendedResistance field -->
    <!-- <mat-form-field appearance="outline" >
      <mat-label>Recommended resistance</mat-label>
      <input matInput formControlName="recommendedResistance" required>
    </mat-form-field> -->

    <!-- type field -->
    <div >
      <span>
        <h3>Focus</h3>
      </span>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Focus</mat-label>
        <mat-select formControlName="type" >
          <mat-option *ngFor="let item of typeList" [value]="item.value">{{item.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

        <!-- filters field -->
        <div >
          <span>
            <h3>Filters</h3>
          </span>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Select filter</mat-label>
            <mat-select formControlName="filters" multiple>
              <mat-option *ngFor="let item of exerciseFilterList" [value]="item.value">{{item.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

    <!-- Sets field -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Duration(sec)</mat-label>
      <input matInput type="number"onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" placeholder="Only allow number" formControlName="duration" required>
      <mat-hint>Duration of exercise</mat-hint>
    </mat-form-field>
    
    <!-- coachingTips field -->
    <div formArrayName="coachingTip" >
      <span>
        <h3>Coaching tips</h3>
        <button mat-icon-button color="primary" (click)="addCoachingTip()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </span>
      <div *ngFor="let alias of coachingTip.controls; let i=index" style="justify-content: center;" class="group">
        <!-- The repeated alias template -->
        <span>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Tip Number {{i+1}}</mat-label>
            <input matInput [formControlName]="i" required>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="removeCoacingTip(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </span>
      </div>
    </div>
  
    <!-- Steps field -->
    <div formArrayName="videoUrls" >
      <span>
        <h3>Video:</h3>
        <button mat-icon-button color="primary" (click)="addVideo()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </span>
      
      <div *ngFor="let video of videoUrls.controls; let i=index" class="group">
        <div [formGroupName]="i">
          <span>
            Video {{i+1}} *
            <button mat-icon-button color="primary" (click)="removeVideo(i)" [disabled]="i === 0">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </span>
          
          <div class="imgContainer">
            <video class="coverImage" controls  loop  *ngIf="videoUrls.value[i].url" >
              <source [src]="sanitizedImagePath(videoUrls.value[i].url)" type="video/mp4">
            </video>
            <div>
              <input type="file" (change)="onFileChange2($event,i)" accept=".mp4" required/>
            </div>   
          </div>

          <!-- <mat-form-field appearance="outline" >
            <mat-label>Model</mat-label>
            <input matInput formControlName="Model" required>
          </mat-form-field>   -->
            <!-- model field -->
            <div >
              <span>
                <h3>Model</h3>
              </span>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Select Type</mat-label>
                <mat-select formControlName="model" >
                  <mat-option *ngFor="let item of modelNamesList" [value]="item.value">{{item.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
      </div>
    </div>

  </form>  
      <!-- {{this.Form.value | json}} -->  
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <div class="formFooter">
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="Form.invalid">Submit</button>
  </div>
</mat-dialog-actions>