# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# firebase
/config/firebase.js

# firebase
/config/appsFlyer.js

# segment
/config/segment.js

# Xcode
*.xcuserstate
fitazfk.xcworkspace/
xcuserdata/

EXBuildConstants.json
EXBuildConstants.plist
EXBuildConstants.plist.bak

# dependencies
/node_modules
/ios/Pods/

# testing
coverage

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
