<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="Form">
      <form [formGroup]="Form">
        <ng-template matStepLabel>Challenge</ng-template>
        <div style="margin-bottom: 1rem;">
          <!-- <h4>Cover Image: </h4>650 × 190 -->
          <span><h4>Cover image: * </h4> <h5>(Image size must be below 500 KB)(Dimension - 650 × 190)</h5></span>
          <img 
            *ngIf="f.imageUrl.valid" 
            [src]="sanitizedImagePath(f.imageUrl.value)"
            class="coverImage"
          />
          <div>
            <input type="file" (change)="onFileChange($event)" accept=".png,.jpg" required/>
          </div>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Choose a availability date</mat-label>
          <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="availabilityDate" (keydown)="false">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Display Name</mat-label>
          <input matInput formControlName="displayName" required>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" >
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field> -->

        <mat-form-field appearance="outline" >
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" required>
        </mat-form-field>
        
        <mat-form-field appearance="outline" >
          <mat-label>Number of Days</mat-label>
          <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187"  formControlName="numberOfDays" required>
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Number of Weeks</mat-label>
          <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187"  formControlName="numberOfWeeks" required>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" >
          <mat-label>Product Recharge ID :</mat-label>
          <input matInput formControlName="productReChargeId" required>
        </mat-form-field> -->

        <mat-form-field appearance="outline" >
          <mat-label>Shopify Poduct ID :</mat-label>
          <input matInput formControlName="shopifyProductId" required>
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Shopify URL :</mat-label>
          <input matInput formControlName="shopifyUrl" placeholder="https://shopify.com/" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Strength Assessment</mat-label>
          <mat-select formControlName="strengthAssessmentId">
            <mat-option *ngFor="let assessment of strengthAssessments" [value]="assessment.id">{{assessment.title}}</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="f.tags.invalid">Please select an strenght assesment for this challenge</mat-error> -->
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" >
          <mat-label>Tag :</mat-label>
          <input matInput formControlName="tag" required>
        </mat-form-field> -->

        <div style="float: right;">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="Form2" label="Phases" *ngIf="recipeList.length">
      <form [formGroup]="Form2">
        <!-- phases field -->
        <div formArrayName="phases" >
          <span>
            <h3>Phases:</h3>
            <button mat-icon-button color="primary" (click)="addPhase()" [disabled]="data">
              <mat-icon>add_circle</mat-icon>
            </button>
          </span>
    
          <div *ngFor="let item of phases.controls; let i=index" class="groupBackground">
            <div [formGroupName]="i" class="group">
              <span>Phase {{i+1}} 
                <button mat-icon-button color="primary" (click)="removePhase(i)" [disabled]="data">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </span>
        
              <div class="imgContainer">
                <!-- <h4>Upload image:</h4> -->
                <span><h4>Cover image: * </h4> <h5>(Image size must be below 500 KB)(Dimension - 650 × 190)</h5></span>
                <img 
                  *ngIf="phases.value[i].thumbnail" 
                  [src]="sanitizedImagePath(phases.value[i].thumbnail)"
                  class="coverImage"
                />
                <div>
                  <input type="file" (change)="onFileChange2($event,i)" accept=".png,.jpg" required/>
                </div>   
              </div>

              <mat-form-field appearance="outline" >
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-hint>This is one time input ,you can not edit it after submit.</mat-hint>
              </mat-form-field>  

              <mat-form-field appearance="outline" >
                <mat-label>Display Name</mat-label>
                <input matInput formControlName="displayName">
              </mat-form-field>  

              <!-- <mat-form-field appearance="outline" >
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>   -->

              <mat-form-field appearance="outline" >
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
              </mat-form-field>  

              <mat-form-field appearance="outline" >
                <mat-label>Start Day</mat-label>
                <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" formControlName="startDay">
                <mat-hint>This is one time input ,you can not edit it after submit.</mat-hint>
              </mat-form-field>  

              <mat-form-field appearance="outline" >
                <mat-label>End Day</mat-label>
                <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" formControlName="endDay">
                <mat-hint>This is one time input ,you can not edit it after submit.</mat-hint>
              </mat-form-field>  

              <mat-form-field appearance="outline" >
                <mat-label>PDF URL</mat-label>
                <input matInput formControlName="pdfUrl">
              </mat-form-field>  
              <!-- BreakFast field -->
              <div>
                <span>
                  <h3>Breakfast (total selected : {{getTotalSelected('breakfast',i).length}})</h3> 
                </span>
                <mat-form-field appearance="outline">
                  <mat-select 
                      formControlName="breakfast" 
                      multiple 
                    
                      (openedChange)="openedChange($event)"
                    >
                    <mat-form-field  appearance="outline" class="searchContainer">
                      <mat-label>Search</mat-label>
                      <input type="text" matInput [formControl]="selectedItem" (keydown)="$event.stopPropagation()">
                      <mat-icon matPrefix color="primary">search</mat-icon> 
                    </mat-form-field>
                    <div *ngFor="let item of recipeList">
                      <mat-option   [value]="item.id" *ngIf="item.breakfast">{{item.title}}</mat-option>
                    </div>
                    <p  *ngIf="recipeList.length === 0" >No record found..</p>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" >
                  <mat-label>Max allowed favourited breakfast recipes</mat-label>
                  <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" formControlName="breakfastMaxAllowedFavourites">
                  <mat-hint>This number indicates the maximum number of recipes that can be favourited by the user</mat-hint>
                </mat-form-field>
              </div>

              <!-- BreakFast field close-->

              <!-- lunch field -->
              <div>
                <span>
                  <h3>Lunch (total selected : {{getTotalSelected('lunch',i).length}})</h3> 
                </span>
                <mat-form-field appearance="outline">
                  <mat-select 
                      formControlName="lunch" 
                      multiple 
                      (openedChange)="openedChange($event)">
                    <mat-form-field  appearance="outline" class="searchContainer">
                      <mat-label>Search</mat-label>
                      <input type="text" matInput [formControl]="selectedItem" (keydown)="$event.stopPropagation()">
                      <mat-icon matPrefix color="primary">search</mat-icon> 
                    </mat-form-field>
                    <div *ngFor="let item of recipeList">
                      <mat-option   [value]="item.id" *ngIf="item.lunch">{{item.title}}</mat-option>
                    </div>
                    <p  *ngIf="recipeList.length === 0" >No record found..</p>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" >
                  <mat-label>Max allowed favourited lunch recipes</mat-label>
                  <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" formControlName="lunchMaxAllowedFavourites">
                  <mat-hint>This number indicates the maximum number of recipes that can be favourited by the user</mat-hint>
                </mat-form-field>
              </div>
              <!-- lunch field close-->
              <!-- Dinner field -->
                <div>
                  <span>
                    <h3>Dinner (total selected : {{getTotalSelected('dinner',i).length}})</h3> 
                  </span>
                  <mat-form-field appearance="outline">
                    <mat-select 
                        formControlName="dinner" 
                        multiple 
                      
                        (openedChange)="openedChange($event)"
                      >
                      <mat-form-field  appearance="outline" class="searchContainer">
                        <mat-label>Search</mat-label>
                        <input type="text" matInput [formControl]="selectedItem" (keydown)="$event.stopPropagation()">
                        <mat-icon matPrefix color="primary">search</mat-icon> 
                      </mat-form-field>
                      <div *ngFor="let item of recipeList">
                        <mat-option   [value]="item.id" *ngIf="item.dinner">{{item.title}}</mat-option>
                      </div>
                      <p  *ngIf="recipeList.length === 0" >No record found..</p>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" >
                    <mat-label>Max allowed favourited dinner recipes</mat-label>
                    <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" formControlName="dinnerMaxAllowedFavourites">
                    <mat-hint>This number indicates the maximum number of recipes that can be favourited by the user</mat-hint>
                  </mat-form-field>
                </div>
              <!-- Dinner field close-->
              <!-- Snack field -->
                  <div>
                    <span>
                      <h3>Snack (total selected : {{getTotalSelected('snack',i).length}})</h3> 
                    </span>
                    <mat-form-field appearance="outline">
                      <mat-select 
                          formControlName="snack" 
                          multiple 
                        
                          (openedChange)="openedChange($event)"
                        >
                        <mat-form-field  appearance="outline" class="searchContainer">
                          <mat-label>Search</mat-label>
                          <input type="text" matInput [formControl]="selectedItem" (keydown)="$event.stopPropagation()">
                          <mat-icon matPrefix color="primary">search</mat-icon> 
                        </mat-form-field>
                        <div *ngFor="let item of recipeList">
                          <mat-option   [value]="item.id" *ngIf="item.snack">{{item.title}}</mat-option>
                        </div>
                        <p  *ngIf="recipeList.length === 0" >No record found..</p>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                      <mat-label>Max allowed favourited snack recipes</mat-label>
                      <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" formControlName="snackMaxAllowedFavourites">
                      <mat-hint>This number indicates the maximum number of recipes that can be favourited by the user</mat-hint>
                    </mat-form-field>
                  </div>
                <!-- Snack field close-->
                <!-- Drink field -->
                   <div>
                    <span>
                      <h3>Post Workout (total selected : {{getTotalSelected('drink',i).length}})</h3> 
                    </span>
                    <mat-form-field appearance="outline">
                      <mat-select 
                          formControlName="drink" 
                          multiple 
                          (openedChange)="openedChange($event)">
                        <mat-form-field  appearance="outline" class="searchContainer">
                          <mat-label>Search</mat-label>
                          <input type="text" matInput [formControl]="selectedItem" (keydown)="$event.stopPropagation()">
                          <mat-icon matPrefix color="primary">search</mat-icon> 
                        </mat-form-field>
                        <div *ngFor="let item of recipeList">
                          <mat-option   [value]="item.id" *ngIf="item.drink">{{item.title}}</mat-option>
                        </div>
                        <p  *ngIf="recipeList.length === 0" >No record found..</p>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                      <mat-label>Max allowed favourited post workout recipes</mat-label>
                      <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" formControlName="drinksMaxAllowedFavourites">
                      <mat-hint>This number indicates the maximum number of recipes that can be favourited by the user</mat-hint>
                    </mat-form-field>
                  </div>
                <!-- Drink field close-->
            </div>
          </div>
        </div>
        <div style="float: right;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="Form3" label="Workouts">
      <form [formGroup]="Form3">
        
        <div formArrayName="workouts" >
          <span>
            <h3>Workouts :</h3>
            <button mat-icon-button color="primary" (click)="addWorkout()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </span>
    
          <div *ngFor="let item of workouts.controls; let i=index" class="groupBackground">
            <div [formGroupName]="i" class="group">
              <span>Workout {{i+1}} 
                <button mat-icon-button color="primary" (click)="removeWorkout(i)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </span>
              <mat-form-field appearance="outline">
                <mat-label>Select workout</mat-label>
                <mat-select 
                    formControlName="id" 
                    (openedChange)="openedChange($event)"
                  >
                  <mat-form-field  appearance="outline" class="searchContainer">
                    <mat-label>Search</mat-label>
                    <input type="text" matInput [formControl]="selectedItemWorkouts" >
                    <mat-icon matPrefix color="primary">search</mat-icon> 
                  </mat-form-field>
                  <mat-option  *ngFor="let item of workoutList" [value]="item.id">{{item.displayName}}</mat-option>
                  <p  *ngIf="workoutList.length === 0" >No record found..</p>
                </mat-select>
              </mat-form-field>

              <div >
                <mat-form-field class="example-chip-list" appearance="outline">
                  <mat-label>Days</mat-label>
                  <mat-chip-list #chipList aria-label="Days selection">
                    <mat-chip *ngFor="let item of getDays(i); let a=index" [selectable]="selectable"
                             [removable]="removable" (removed)="removeDay(item,i)">
                      {{item}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New day..."
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addDay($event,i)"
                           type="number"
                           onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" 
                           >
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div style="float: right;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <p>Note:</p>
      <p>1.Do not submit untill you added all the phases data in phase section</p>
      <p>2.You can not add or delete phase in Edit Challenge</p>
      <p>3.You can not change the display name and (start Day/end Day) of phase in Edit Challenge</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        <button  
          mat-raised-button 
          color="primary" 
          (click)="onSubmit()"
          [disabled] = "!(Form.valid && Form2 && Form2.valid && Form3.valid)"
          >Submit</button>
      </div>
    </mat-step>

</mat-horizontal-stepper>