.group{
  display: block;
  margin: 10px;

}
.groupBackground{
  background: #3f51b517;
  border-radius: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

span{
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3 {
    margin: 0px;
}

.coverImage{
  height: 10rem;
  width: 10rem;
  background:  rgb(197, 192, 192);
  border-radius: 5px;
}

.imgContainer{
  margin-bottom: 0.5rem;
}

.mat-dialog-container{
  width:100vw !important
}

.mat-stepper-horizontal {
  margin-top: 8px;
  }
  
.mat-form-field {
  display: flex;
  flex-direction: column;
}

.coverImage{
  height: 10rem;
  width: 10rem;
  background:  rgb(197, 192, 192);
  border-radius: 5px;
  object-fit: contain;
}

// .searchContainer{
//   font-size: xx-small;
//   padding: 0.5rem;
//   position:sticky;
//   z-index: 10001;
//   background-color:white;
//   top:0
// }

