.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding-bottom: 0.5rem;
    height: auto;
    font-size: 0.9rem;
}
.mg0{
    margin:0px;
}
h4{
    margin: 0px 0 0px;
    padding-left: 16px;
}
p{
    padding-left: 16px;
}
.stepContainer{
    display: flex;
    flex-direction: row;
    padding-left: 16px;
}
.stepTitleContainer{
        display: flex;
        justify-content: center;
}
.coverImage{
    height: 10rem;
    width: 10rem;
    background:  rgb(197, 192, 192);
    border-radius: 5px;
}
.stepImage{
    height: 5rem;
    width: 5rem;
    background: rgb(197, 192, 192);
    border-radius: 5px;
}