<h2 mat-dialog-title>{{data.name}}</h2>
<!-- <h3>{{data.displayName}}</h3> -->

<mat-dialog-content class="mat-typography">
  <h3 class="heading">Coaching Tips :</h3>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of data.coachingTip">&#8226; {{item}}</mat-list-item>
  </mat-list>

  <h3 class="heading">Recommended resistance :</h3>
  <p>{{data.recommendedResistance}}</p>

  <h3 class="heading">Videos :</h3>
  <div *ngFor="let item of data.videoUrls;let index =index">
    <h4>Video {{index+1}}</h4>
    <video class="coverImage" controls  loop>
      <source [src]="item.url" type="video/mp4">
    </video>
    <div class="stepTitleContainer">
      <h4>Model : </h4> 
      <p style="padding:5px;">{{item.model}}</p>
    </div> 
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Edit</button> -->
</mat-dialog-actions>
