<mat-dialog-content class="mat-typography" >
  <form [formGroup]="Form" >
     
    <!-- Image field -->
    <div class="imgContainer">
      <!-- <h3>Cover image: * (Recommended dimension - 354 × 353)</h3> -->
      <span><h3>Cover image: * </h3> (Image size must be below 500 KB)(Dimension - 354 × 353)</span>
      <img 
        *ngIf="f.thumbnail.valid" 
        [src]="sanitizedImagePath(f.thumbnail.value)"
        class="coverImage"
      />
      <div>
        <input type="file" (change)="onFileChange($event)" accept=".png,.jpg" required/>
      </div>   
    </div>

    <!-- Name field -->
    <!-- <mat-form-field 
        appearance="outline" class="example-full-width" style="margin-top: 1rem;">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field> -->

    <!-- Title field -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Display Name</mat-label>
      <input matInput formControlName="displayName" required>
    </mat-form-field>

      <!-- Description field -->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>

    <!-- Workout Time field -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Workout Time(min)</mat-label>
      <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" formControlName="workoutTime" required>
      <mat-hint>A period of physical exercise that you do in order to improve your fitness, ability, or performance</mat-hint>
    </mat-form-field>

    <!-- Sets field -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Sets(number)</mat-label>
      <input matInput type="number"onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" placeholder="Only allow number" formControlName="workoutReps" required>
      <mat-hint>A set is a group of consecutive repetitions. For example, you can say, “I did two sets of ten reps on the crunches”</mat-hint>
    </mat-form-field>

    <!-- Reps field -->
    <div formArrayName="difficultyLevel">
      <span>
        <h3>Reps(number) :</h3>
      </span>
      <div *ngFor="let alias of difficultyLevel.controls; let i=index" style="justify-content: center;">
        <!-- The repeated alias template -->
        <span>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>{{fitnessLevels[i]}}</mat-label>
            <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187"  [formControlName]="i" required>
            <mat-hint *ngIf="i===0">Reps are the number of times you complete a single exercise before taking a rest or a break. </mat-hint>
          </mat-form-field>
        </span>
      </div>
    </div>

    <!-- filters field -->
    <div formArrayName="restIntervalMap" >
      <span>
        <h3>Rest(number) :</h3>
      </span>
      <div *ngFor="let alias of restIntervalMap.controls; let i=index" style="justify-content: center;">
        <!-- The repeated alias template -->
        <span>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>{{fitnessLevels[i]}}</mat-label>
            <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" [formControlName]="i" required>
            <mat-hint *ngIf="i === 0">Rest gives your body time to replenish these energy stores before your next workout.</mat-hint>
          </mat-form-field>
        </span>
      </div>
    </div>

    <!-- workIntervalMap field -->
    <div formArrayName="workIntervalMap">
      <span>
        <h3>Set duration(sec) :</h3>
      </span>
      <div *ngFor="let alias of workIntervalMap.controls; let i=index" style="justify-content: center;">
        <!-- The repeated alias template -->
        <span>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>{{fitnessLevels[i]}}</mat-label>
            <input matInput type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187" [formControlName]="i" required>
            <mat-hint *ngIf="i === 0">A time to complete 1 set of workout depending on the intensity level</mat-hint>
          </mat-form-field>
        </span>
      </div>
    </div>

    <!-- filters field -->
    <div >
      <span>
        <h3>Filters</h3>
      </span>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select filter</mat-label>
        <mat-select formControlName="filters" multiple>
          <mat-option *ngFor="let item of workoutFilterList" [value]="item.value">{{item.label}}</mat-option>
        </mat-select>
      </mat-form-field>
        <mat-error 
          *ngIf="isFilterError"
          style="    margin-top: -1rem;
          font-size: smaller;"
        >
        Filters must contain one of Strength,Circuit or Interval.
      </mat-error>

    </div>


    <!-- filters field -->
    <div >
      <span>
        <h3>Tags</h3>
      </span>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Tags</mat-label>
        <mat-select formControlName="tags" multiple>
          <mat-option *ngFor="let item of Tags" [value]="item.value">{{item.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Exercise section -->
    <div class="selectExercisesGroup">
      <span>
        <h3>Exercise Model</h3>
      </span>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Exercise Model</mat-label>
        <mat-select formControlName="exerciseModel" (ngModelChange)="onChangeModel(Form.value.exerciseModel,'')">
          <mat-option *ngFor="let item of modelNamesList" [value]="item.value">{{item.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    

  <!-- Exercise field -->
  <div formArrayName="exercises" >
    <span>
      <div>
        <h3>Select Exercises</h3>
        <p class="info" >
          (Exercises as per model selected above)
        </p>
      </div>
      <button mat-icon-button color="primary" (click)="addExercise()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </span>
    <div *ngFor="let alias of exercises.controls; let i=index" style="justify-content: center;">
      <!-- The repeated alias template -->
      <h4>Exercise {{i+1}}</h4>
      <span>
        <mat-form-field appearance="outline" class="example-full-width">
          <!-- <input matInput [formControlName]="i" required> -->
          <mat-select [formControlName]="i" (openedChange)="matSelectOpenCloseEvent($event)">
            <mat-form-field  appearance="outline" class="searchContainer" >
              <mat-label>Search</mat-label>
              <input type="text" matInput [formControl]="selectedItem" (keydown)="$event.stopPropagation()">
              <mat-icon matPrefix color="primary">search</mat-icon> 
            </mat-form-field>
            <div *ngFor="let item of exerciseList"> 
              <mat-option *ngIf="checkExerciseContainModel(item,'')" [value]="item.id">{{item.displayName}}</mat-option>
            </div>
          </mat-select>
          <mat-hint>Select exercises you want to add in this workout.</mat-hint>
          <!-- <mat-error *ngIf="f.exercises.invalid">Please select exercise.</mat-error> -->
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="removeExercise(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </span>
    </div>
  </div>
</div> 
  <hr>
    <!-- Exercise section closed-->

      <!-- Warm Up Exercise section -->
      <div class="selectExercisesGroup">
          <span>
            <h3>Warm-Up Exercise Model</h3>
          </span>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Select Model</mat-label>
            <mat-select formControlName="warmUpExerciseModel" (ngModelChange)="onChangeModel(Form.value.warmUpExerciseModel,'WC')" >
              <mat-option *ngFor="let item of modelNamesList" [value]="item.value">{{item.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        
         <!-- Warm Exercise field -->
          <div formArrayName="warmUpExercises" >
            <span>
              <div>
                <h3>Select Warm Up Exercises</h3>
                <p class="info" >
                  (Exercises as per model selected above)
                </p>
              </div>
              <button mat-icon-button color="primary" (click)="addExerciseWU()">
                <mat-icon>add_circle</mat-icon>
              </button>
            </span>
            <div *ngFor="let alias of exercisesWU.controls; let i=index" 
                  style="justify-content: center;" 
            >
              <!-- The repeated alias template -->
              <h4>Exercise {{i+1}}</h4>
              <span>
                <mat-form-field appearance="outline" class="example-full-width">
                  <!-- <input matInput [formControlName]="i" required> -->
                  <mat-select [formControlName]="i" (openedChange)="matSelectOpenCloseEvent($event,'WC')">
                    <mat-form-field  appearance="outline" class="searchContainer" >
                      <mat-label>Search</mat-label>
                      <input type="text" matInput [formControl]="selectedItemWC"  (keydown)="$event.stopPropagation()">
                      <mat-icon matPrefix color="primary">search</mat-icon> 
                    </mat-form-field>
                    <div *ngFor="let item of exerciseListWC"> 
                      <mat-option *ngIf="checkExerciseContainModel(item,'WC')" [value]="item.id">{{item.displayName}}</mat-option>
                    </div>
                  </mat-select>
                  <mat-hint>Select exercises you want to add in this workout.</mat-hint>
                  <!-- <mat-error *ngIf="f.exercises.invalid">Please select exercise.</mat-error> -->
                </mat-form-field>
                <button mat-icon-button color="primary" (click)="removeExerciseWU(i)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </div>   
      <!-- Warm Up Exercise section closed-->
      <hr>
        <!--  Cool Down Exercise section -->
        <div class="selectExercisesGroup">
            <span>
              <h3>Cool Down Exercise Model</h3>
            </span>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Select Model</mat-label>
              <mat-select formControlName="coolDownExerciseModel" (ngModelChange)="onChangeModel(Form.value.coolDownExerciseModel,'CD')">
                <mat-option *ngFor="let item of modelNamesList" [value]="item.value">{{item.label}}</mat-option>
              </mat-select>
            </mat-form-field>

          <!-- Warm Exercise field -->
              <div formArrayName="coolDownExercises" >
              <span>
                <div>
                  <h3>Select Cool Down Exercises</h3>
                  <p class="info" >
                  (Exercises as per model selected above)
                </p>
                </div>

                <button mat-icon-button color="primary" (click)="addExerciseCD()">
                  <mat-icon>add_circle</mat-icon>
                </button>
              </span>
              <div *ngFor="let alias of exercisesCD.controls; let i=index" style="justify-content: center;">
                <!-- The repeated alias template -->
                <h4>Exercise {{i+1}}</h4>
                <span>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <!-- <input matInput [formControlName]="i" required> -->
                    <mat-select [formControlName]="i" (openedChange)="matSelectOpenCloseEvent($event,'CD')">
                      <mat-form-field  appearance="outline" class="searchContainer" >
                        <mat-label>Search</mat-label>
                        <input type="text" matInput [value]="selectedItemCD.value" [formControl]="selectedItemCD" (keydown)="$event.stopPropagation()">
                        <mat-icon matPrefix color="primary">search</mat-icon> 
                      </mat-form-field>
                      <div *ngFor="let item of exerciseListCD"> 
                        <mat-option *ngIf="checkExerciseContainModel(item,'CD')" [value]="item.id">{{item.displayName}}</mat-option>
                      </div>
                    </mat-select>
                    <mat-hint>Select exercises you want to add in this workout.</mat-hint>
                    <!-- <mat-error *ngIf="f.exercises.invalid">Please select exercise.</mat-error> -->
                  </mat-form-field>
                  <button mat-icon-button color="primary" (click)="removeExerciseCD(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>
            
      <!-- Cool Down Exercise section closed-->
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <div class="formFooter">
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="Form.invalid">Submit</button>
  </div>
</mat-dialog-actions>